{
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": true,
    "apexInsertFinalNewline": true,
    "apexFormatAnnotations": true,
    "apexFormatStandardTypes": true,
    "apexFormatInlineComments": "spaced",
    "apexEmptyBlockBracketLine": true,
    "apexExpandOneLineProperties": false,
    "apexExplicitAccessModifier": true,
    "apexSortModifiers": true,
    "apexForceCurly": true,
    "overrides": [
        {
            "files": "*.xml",
            "options": {
                "printWidth": 240,
                "bracketSameLine": true
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
