# IDE
**/.idea/

# SFDX
.sfdx/
.sf/
.localdevserver/
IlluminatedCloud/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log
