{
  "tabWidth": 4,
  "printWidth": 120,
  "singleQuote": true,
  "apexInsertFinalNewline": true,
  "apexFormatAnnotations": true,
  "apexAnnotationsArgsSpacing": true,
  "apexFormatStandardTypes": true,
  "apexFormatInlineComments": true,
  "apexEmptyBlockBracketLine": true,
  "apexExpandOneLineProperties": false,
  "apexExplicitAccessModifier": true,
  "apexSortModifiers": true,
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "printWidth": 220,
        "bracketSameLine": true
      }
    },
    {
      "files": "*.apex",
      "options": {
        "apexSortModifiers": false,
        "apexExplicitAccessModifier": false
      }
    },
    {
      "files": ["*.yml", "*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
